Repository portone-io/iamport-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: pnpm eslint {staged_files}

types:
  run: pnpm tsc

changeset, NPM 배포 workflow 추가
  .changeset/README.md
  .changeset/config.json
  .changeset/plenty-terms-buy.md
  .github/workflows/ci.yml
  .github/workflows/release-npm.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Version Packages
  .changeset/plenty-terms-buy.md
  CHANGELOG.md
  package.json
Due: none

example 재구현
  .gitignore
  .watchmanconfig
  eslint.config.mjs
  example/.gitignore
  example/app.json
  example/assets/adaptive-icon.png
  example/assets/favicon.png
  example/assets/icon.png
  example/assets/splash-icon.png
  example/index.ts
  example/package.json
  example/src/App.tsx
  example/src/Certification/index.tsx
  example/src/CertificationResult/index.tsx
  example/src/CertificationTest/index.tsx
  example/src/Home/index.tsx
  example/src/Loading/index.tsx
  example/src/NavigationService.tsx
  example/src/Payment/index.tsx
  example/src/PaymentResult/index.tsx
  example/src/PaymentTest/index.tsx
  example/src/Picker/index.tsx
  example/src/constants.ts
  example/src/utils.ts
  example/tsconfig.json
  exampleForExpo/.gitignore
  exampleForExpo/app.config.ts
  exampleForExpo/babel.config.js
  exampleForExpo/ios/Podfile.lock
  exampleForExpo/ios/example.xcodeproj/project.pbxproj
  exampleForExpo/ios/example/Info.plist
  exampleForExpo/metro.config.js
  exampleForExpo/src/NavigationService.tsx
  exampleForWebView/package.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, types

exampleForWebView 예제 재구현
  exampleForWebView/app.json
  exampleForWebView/src/App.tsx
  exampleForWebView/src/Certification.tsx
  exampleForWebView/src/Home.tsx
  exampleForWebView/src/Payment.tsx
  exampleForWebView/tsconfig.json
Due: lint

library 분리
  README.md
  example/package.json
  exampleForWebView/package.json
  package.json
  packages/iamport-react-native/README.md
  packages/iamport-react-native/babel.config.js
  packages/iamport-react-native/eslint.config.mjs
  packages/iamport-react-native/package.json
  packages/iamport-react-native/src/components/Certification/index.tsx
  packages/iamport-react-native/src/components/ErrorOnParams/index.tsx
  packages/iamport-react-native/src/components/Loading/index.tsx
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/constants/index.ts
  packages/iamport-react-native/src/img/iamport-logo.png
  packages/iamport-react-native/src/index.tsx
  packages/iamport-react-native/src/styles.ts
  packages/iamport-react-native/src/utils/IamportUrl.ts
  packages/iamport-react-native/src/utils/Validation.ts
  packages/iamport-react-native/src/utils/ValidationForPayment.ts
  packages/iamport-react-native/tsconfig.build.json
  packages/iamport-react-native/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, types

CI 수정
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

Version Packages
  .changeset/plenty-terms-buy.md
  CHANGELOG.md
  packages/iamport-react-native/CHANGELOG.md
  packages/iamport-react-native/package.json
Due: none

release-npm publish filter 적용
  .github/workflows/release-npm.yml
Due: none

불필요한 코드 제거
  example/src/App.tsx
Due: lint

WebView 오류 처리 개선
  packages/iamport-react-native/src/components/Payment/index.tsx
Due: lint

WebView 오류 처리 개선
  .changeset/slimy-zoos-arrive.md
  packages/iamport-react-native/src/components/Payment/index.tsx
Due: lint

Enter prerelease mode and version packages
  .changeset/config.json
  .changeset/pre.json
  packages/iamport-react-native/CHANGELOG.md
  packages/iamport-react-native/package.json
Due: none

현대카드 웹뷰 오류 패치 추가
  example/package.json
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/constants/index.ts
Due: lint, types

root 패키지에 changeset 종속성 추가
  package.json
  packages/iamport-react-native/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

changeset 추가
  .changeset/twelve-bushes-cheer.md
Due: none

주석 보강
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/constants/index.ts
Due: lint, types

-1005 오류를 무시하는 코드 복원
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/constants/index.ts
Due: lint, types

injected javascript 관련 주석 보충
  packages/iamport-react-native/src/constants/index.ts
Due: lint, types

lint 오류 수정
  packages/iamport-react-native/src/components/Payment/index.tsx
Due: lint

프리릴리즈 대응
  .changeset/pre.json
Due: none

Version Packages
  .changeset/config.json
  packages/iamport-react-native/package.json
Due: none

네이버 로그인 앱스킴 추가
  example/app.json
  exampleForWebView/app.json
  manuals/EXPO.md
Due: none

프리릴리즈 제거
  .changeset/pre.json
Due: none

react-native-webview 오류 화면 회피 (#268)
  .changeset/config.json
  .changeset/slimy-zoos-arrive.md
  .changeset/twelve-bushes-cheer.md
  example/package.json
  package.json
  packages/iamport-react-native/CHANGELOG.md
  packages/iamport-react-native/package.json
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/constants/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, types

action 권한 수정
  .github/workflows/release-npm.yml
Due: none

릴리즈 스크립트 수정
  .github/workflows/release-npm.yml
Due: none

`iamport` -> `portone-io` org 변경 대응
  example/README.md
  exampleForWebView/README.md
  manuals/EXAMPLE.md
  manuals/SUPPORT.md
  manuals/VERSION.md
  packages/iamport-react-native/package.json
Due: none

네이버페이 앱 실행 이슈 해결
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/utils/IamportUrl.ts
Due: lint, types

Add changeset
  .changeset/humble-aliens-rhyme.md
Due: none

lint 수정
  packages/iamport-react-native/src/components/Payment/index.tsx
Due: lint

네이버페이 앱 실행 이슈 해결 (#272)
  .changeset/humble-aliens-rhyme.md
  packages/iamport-react-native/src/components/Payment/index.tsx
  packages/iamport-react-native/src/utils/IamportUrl.ts
Due: lint, types

querystring 파싱 revert
  .changeset/pre.json
  packages/iamport-react-native/package.json
  packages/iamport-react-native/src/utils/IamportUrl.ts
  pnpm-lock.yaml
Due: lint, types

3.0.3-alpha.1
  packages/iamport-react-native/package.json
Due: none

lint 수정
  packages/iamport-react-native/src/utils/IamportUrl.ts
Due: lint, types

querystring 파싱 revert (#274)
  .changeset/pre.json
  packages/iamport-react-native/package.json
  packages/iamport-react-native/src/utils/IamportUrl.ts
  pnpm-lock.yaml
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
